<div class="contact">
    <div class="container">
        <div class="text-contact">
            <div class="text">
                <h1>CONTACT ME</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non id eum eos quas nemo quisquam. Autem,
                    rerum possimus at molestiae tempora debitis, sapiente facilis, natus repellendus dolore vero nemo
                    rem.</p>
            </div>
            <div class="icon">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
        </div>
    </div>
</div>