<div class="Home-Page">
    <div class="container">
        <div class="text-home-page">
            <h1>Express Center</h1>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio consequuntur tenetur quasi repellat
                sint corporis assumenda accusantium consequatur cupiditate dignissimos.
            </p>
            <button><a href="/events">Show Courses</a></button>
        </div>
    </div>
</div>